html {
  scroll-behavior: smooth !important;
}

body {
  font-family:
    "Space Grotesk" Arial,
    Helvetica,
    sans-serif;
  margin: 0px;
}

p,
h1,
h2,
h3,
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1 {
  font-size: 64px;
}

h1,
h2 {
  color: #ffffff;
  line-height: 1.2em;
  font-weight: 700;
}
