.logo {
  width: 180px;
  padding-right: 30px;
  align-content: center;
}

.logo2 {
  width: 180px;
  justify-self: center;
}

.color {
  color: #ffffff;
  font-size: 34px;
  display: block;
  cursor: pointer;
}

.header-bg {
  background-color: #15151e;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 40px 20px 40px 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  display: inline-block;
  color: white;
  font-size: 24px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

.itensmeumenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 800px) {
  #noneburguer {
    display: none;
  }
  .itensmeumenumobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .itensmeumenumobile,
  .nonemobile {
    display: none;
  }

  .logo {
    width: 160px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
  }

  .header {
    padding: 26px 20px 26px 20px;
  }
}
