.fundo-img {
  background-image: url("/img/portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-largo {
  max-width: 100%;

  padding: 0px 20px 100px 20px;
  box-sizing: border-box;
  justify-items: center;
}

div.container-largo div.container-servico h2 {
  font-size: 32px;
}

.tecnologia {
  display: flex;
  align-items: center;
  gap: 0px;
  padding-top: 20px;
}

.tecnologia h3 {
  color: white;
  font-weight: 600;
}

.tecnologia img {
  width: 40px;
}

.botao-roxo {
  display: block;
  background-color: #6e73db;
  padding: 16px 36px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  align-self: end;
  margin-top: 25px;
  transition: 0.3s;
}
.botao-roxo:hover {
  scale: 110%;
}

.botao-end {
  justify-self: end;
}

.container-servico h2 {
  margin-top: 25px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .container-largo {
    flex-direction: column;
  }

  .containerservicos h1:nth-child(2) {
    text-align: center;
    font-size: 50px;
  }

  .container-contato {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .botao-end {
    justify-self: center;
  }
}
